@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Namasthe</h1>
    <p>If you are looking for a place to find all the worst jokes in the world, look no further. This is the place.</p>
    <p>Oh, and the pink color background is in support of Barbie movie release.</p>
</div>

